#root, body {
  height: 100%;
  font-family: Roboto;
}

*, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  letter-spacing: 0.02rem;
  line-height: 1.4;
  box-sizing: border-box;
  /* letter-spacing: 0.02em; */
}

ul {
  list-style: none;
}

.react-calendar {
  /* width: 100% !important; */
  border: none !important;
}

button:disabled {
  background: none !important;
}

button:disabled abbr {
  text-decoration: line-through !important;
}

.react-calendar__tile--now {
  background: none !important;
}

.react-calendar__tile--now abbr {
  /* color: gray !important; */
  font-weight: 700;
}

.react-calendar__tile--active {
  background: none !important;
}

.react-calendar__tile--active abbr {
  background: #F6475F !important;
  padding: 24px;
  border-radius: 100px;
}

.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none;
  color: #3D3D3D;
}
.react-calendar__navigation__arrow {
  font-size: 24px;
}
.react-calendar__navigation__label__labelText {
  font-size: 18px;
  font-weight: 700;
}

/* Clerk sidebar logo removal*/
.cl-internal-b3fm6y {
  display: none !important;
}

.react-calendar__navigation__prev2-button, .react-calendar__navigation__next2-button {
  display: none;
}